@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Jersey+15&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

*{
    font-family: poppins;
}
body{
    background-image: url("../assets/layered-waves-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 3rem;
}
.filters{
  margin: 20px 0px;
  margin-left: 3rem;
}
h1{
    
    font-size: 3rem;
    font-weight: 300;
}
.arrow{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    transition: background-color ease 0.3s;
}
.arrow:hover{
    background-color: black;
}
.arrow:hover i{
    color :white;
}
.arrow i{
    font-size: 2rem;
    transition: color ease 0.3s;
}
.product-grid {
    margin-top: 0;
    margin: 0 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
 
}
.product-card:hover{
    background-color: beige;
    cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 14px;
  color: #444;
}
