
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Jersey+15&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: poppins;

}

/* Body */
body {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/layered-waves-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:black;
  position: relative;
  overflow-x: hidden;
}

/* Header */
.header {
  background-color: #f1c40f; /* soft yellow */
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:20px;
  border-radius: 20px;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.nav span{
    transition : color ease 0.2s;
    cursor:pointer;
}
.nav span:hover{
    color: white;

}
 .nav a:hover{
    color:white
 }
 .nav a{
    text-decoration: none;
    color: black;
     transition : color ease 0.2s;
    cursor:pointer;
 }
.header p {
  font-size: 14px;
  color: #444;
}

/* Container */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Categories Section */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* Category Card */
.category-card {
  background-color: rgb(241, 241, 241);
  border: 1px solid #ddd;
  height: 10rem;
    border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s ease;
  position: relative;
}

.category-card:hover {
  background-color: #f2efe6; /* light beige */
}
.card_txt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-card h2 {
  font-size: 2rem;
  font-weight: 300;
   
}
.card_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 3;
    opacity: 0;
    transition: opacity ease 0.3s;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    border-radius: 20px;
}
.category-card:hover .card_img{
    opacity: 1;
}
.category-card:hover .card_txt h2{
    color: white;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

/* Footer */
.footer {
  background-color: #e0e0e0; /* light gray */
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 13px;
}
